body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
    background: rgba(240, 233, 220, 0.6);
}
    
a {
    text-decoration: none;
}
    
ul, ol, li {
    list-style: none;
}
    
img {
    vertical-align: top;
}
    
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
    
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}
    
header {
    display: flex;
    height: 60px;
    background: rgba(225, 217, 205, 0.42);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    
header p {
    margin-top: 10px;
    text-align: center;
    color: #ADADAD;
    font-size: 30px;
}

.arrow {
    margin-top: 10px;
    position: absolute;
    left: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}